.header{
  display: flex;
  height: 8%;
  background-color: darkslateblue;
  text-align: center;
  color: silver;
  font-family: 'Amatic SC', cursive;
  font-size: 2em;
}

.header_title {
  flex: 6;
  margin: auto;
}

.auth_block {
  flex: 1;
  display: flex;
}

.loginBlock{
  display: inline;
  margin: 10px auto;
}