.usersPages {
  position: relative;
  height: 100%;
}

.pageNumber {
  font-size: 1rem;
  transition: 0.5s;
}

.pageNumber:hover {
  cursor: pointer;
  background-color:brown;
}

.users {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow:auto;
  min-height: 96%;
  height: 1px;
  padding: 1%;
  background-color: rgb(138, 69, 80);
}

.usersCard {
  width: 19%;
  word-wrap: break-word;
}

.pagesList {
  display:flex;
  justify-content: center;
}

.selectedPage {
  color: aqua;
}

.avatar {
  width: 200px;
}

.pagesNumber{
  display: inline-block;
  text-align: center;
  width: 50px;
}