*::-webkit-scrollbar {width: 0;}

.profile {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow:auto;
  min-height: 96%;
  height: 1px;
  padding: 1%;
  background-color: rgb(138, 69, 80);
}
.profilePhotoBlock {
  width: 30%;
}
.profilesPhoto {
  width: 100%;
  border: none;
}

.postSection{
  width: 50%;
}

.postsBlock {
  box-sizing: border-box;
  height: 600px;
  width: 90%;
  box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
  overflow-y: scroll;
}

.posts {
  margin-left: 10px;
  word-break: break-word;
}

